/node_modules
/.next
/out
/build
next-env.d.ts
*.tsbuildinfo
.DS_Store
*.pem
npm-debug.log*
.env
.env*.local
/uploads/*
!/uploads/.gitkeep
/android/.gradle
/android/app/build
/android/build
/android/captures
/android/local.properties
*.apk
!releases/*.apk
*.aab
*.keystore
!android/app/debug.keystore
